/**
 * Flag - Displays text like content vertically centered besides an image.
 */

/*
 * The base class for the Flag wrapper.
 */
@include class('flag') {
  display: table;
  width: 100%;

  /*
   * The image wrapper cell.
   */
  @include element('image') {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;

    > img {
      display: block;
      max-width: none;
    }

    @include modifier('rev') {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  /*
   * The content wrapper cell.
   */
  @include element('body') {
    display: table-cell;
    vertical-align: middle;
    width: 100%;

    // Removes the bottom margin of the last element.
    &,
    > :last-child {
      margin-bottom: 0;
    }
  }
}
