/**
 * Form
 */

/*
 * The base class for all forms.
 */
@include class('form') {
  margin-bottom: rs($basic-spacing, $unit: rem);

  @include element('item') {
    margin-bottom: rs($half-spacing, $unit: rem);
  }

  /*
   * Display a `<form>` and all it's content in a horizontal order.
   */
  @include modifier('inline') {
    label,
    button,
    input,
    select,
    textarea,
    .form__item {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form__item {
      margin-#{$end}: 1em;
    }
    label {
      margin-#{$end}: .3em;
    }
  }
}
