/**
 * Form
 */

/*
 * Display a `<form>` and all it's content in a horizontal order.
 */
.form--inline {
  label {
    margin-#{$end}: .3em;
  }

  .label--checkbox {
    input {
      margin-#{$end}: .35em;
    }
    margin-#{$end}: 1em;
  }
  input {
    margin-#{$end}: 1em;
  }

  label,
  button,
  input,
  select,
  textarea {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
