/**
 * Grids
 */

$grid-gutter: $column-gutter / 2;

/*
 * Grid object which is based on the util width classes.
 */
.#{$brics-namespace}g,
.#{$brics-namespace}grid {
  margin-left: -#{$grid-gutter};
  margin-right: -#{$grid-gutter};

  @include u-cf();
}

/*
 * Grid item, floats itself into the grid and depends on the u-w#/# util classes.
 */
.#{$brics-namespace}gi,
.#{$brics-namespace}grid__item {
  float: $start;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}
