/**
 * Grids
 */

$grid-gutter: ($column-gutter / 2);

/*
 * Grid object which is based on the util width classes.
 */
.g,
.grid {
  @include u-cf();
  margin-left: -#{$grid-gutter};
  margin-right: -#{$grid-gutter};
}

.gi,
.grid__item {
  float: $start;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}
