.siteContent {
  margin-top: 3em;
}
.siteContent__navWrapper {

}
.siteContent__navWrapper--fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: scroll;
  width: 165px;
  padding-bottom: 30px;
}
.siteContent__nav {
  line-height: 1;
  font-size: 90%;

  > li {
    padding-bottom: .2em;

    > a {
      padding: .5em 0;
      transition: padding .3s ease;

      &.active {
        padding-left: 10px;
      }
    }
  }
}
.siteContent__nav__subNav {
  padding-bottom: .3em;

  > li {
    > a {
      padding: .4em 1.5em;
      color: map-get($brand-colors, primary);
      transition: padding .3s ease;

      &.active {
        padding-left: 30px;
        color: currentColor;
      }
    }
  }
}