.siteContent {
  margin-top: 3em;
}

.siteContent__nav {
  line-height: 1;
  font-size: 90%;

  > li {
    padding-bottom: .2em;

    > a {
      padding: .5em 0;
    }
  }
}
.siteContent__nav__subNav {
  padding-bottom: .3em;

  > li {
    > a {
      padding: .4em 1.5em;
      color: map-get($brand-colors, primary);
    }
  }
}