@mixin exampleBox($bottomPadding: 1em) {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 2px;
  background: 0;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.1), 0 1px 2px rgba(63, 63, 68, 0.1);
}

.exampleBox {
  @include exampleBox();
}