/**
 * Helper classes for brand related stylings.
 */

/*
 * Brand text styles.
 */
@mixin u-brand() {
  font-family: $brand-font-family;
  color: map-get($brand-colors, primary);
 }
.u-brand {
  @include u-brand();
}

/*
 * Brand color helpers.
 */
@each $key, $value in $brand-colors {
  .u-brandColor-#{$key} {
    color: $value;
  }
}

/*
 * Brand font-family helper.
 */
@mixin u-brandFace() {
  font-family: $brand-font-family;
}
.u-brandFace {
  @include u-brandFace();
}

/*
 * Brand logos.
 */
.u-brandLogo {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
@each $key, $brand-logo in $brand-logos {
  .u-brandLogo--#{$key} {
    width: map-get($brand-logo, width);
    height: map-get($brand-logo, height);
    background-image: image-url(map-get($brand-logo, image));
  }
}
