/**
 * Display utilities
 */

/*
 * Display the target as an block element.
 */
.u-block {
  display: block !important;
}

/*
 * Hide from both screenreaders and browsers: http://www.h5bp.com/u
 */
.u-hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide visually and from screenreaders, but maintain layout.
 */
.u-invisible {
  visibility: hidden;
}