/**
 * Layout utilities
 */

/*
 * Floats the element to the right boundary.
 */
%u-floatRight,
.u-floatRight {
  float: right;
}

/*
 * Floats the element to the left boundary.
 */
%u-floatLeft,
.u-floatLeft {
  float: left;
}

/*
 * Clearfix for floated elements.
 */
%u-cf,
.u-cf,
.u-clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}