/*
Typographic utilities

Styleguide 2.3
*/

/*
Text alignment

.u-alignCenter - Centers the text.
.u-alignRight - Aligns the text on it's right boundary.
.u-alignLeft - Aligns the text on it's left boundary.

Markup:
<p class="{$modifiers}">I am an paragraph.</p>

Styleguide 2.3.1
*/
%u-alignCenter,
.u-alignCenter {
    text-align: center;
}

%u-alignRight,
.u-alignRight {
    text-align: right;
}

%u-alignLeft,
.u-alignLeft {
    text-align: left;
}



/*
Other utilities

.u-textBreak - Break strings when their length exceeds the width of their container.

Markup:
<p class="{$modifiers}">Extralongparagraphhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p>

Styleguide 2.3.2
*/
%u-textBreak,
.u-textBreak {
  word-wrap: break-word;
  hyphens: auto;
}