/**
 * Typographic utilities
 */

/*
 * Centers the text.
 */
%u-alignCenter,
.u-alignCenter {
  text-align: center;
}

/*
 * Aligns the text to the right boundary.
 */
%u-alignRight,
.u-alignRight {
  text-align: right;
}

/*
 * Aligns the text to the left boundary.
 */
%u-alignLeft,
.u-alignLeft {
  text-align: left;
}

/*
 * Break strings/text if it exceeds the boundaries of their container.
 */
%u-textBreak,
.u-textBreak {
  word-wrap: break-word;
  hyphens: auto;
}