/**
 * Form elements
 */

/*
 * Base styling for all labels
 */
label {
  display: block;
  font-weight: $bold;
  font-size: rs(14, $unit: rem);
  &[for] {
    cursor: pointer;
  }
}

/*
 * Base styling for all legends
 */
legend {
  display: block;
  width: 100%;
  @extend %u-mb;

  font-size: rs($base-font-size + 4, $unit: rem);
  border-bottom: 1px $basic-border-style $basic-border-color;

  padding: 0;
}
