/**
 * Lists
 */

menu,
ol,
ul {
  padding: 0 0 0 rs(40);
  @extend %u-m0;
  @extend %u-mb;
}

li > ul,
li > ol {
  // Remove vertical spacing from nested lists.
  margin-bottom: 0;
}

/*
 * Reset-List helper class
 * ToDo: Move into the util namespace.
 */
%reset-list,
.reset-list {
  /**
   *
   */
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

/**
 * Definitions
 */
dl {
  @extend %u-m0;
  @extend %u-mb;
}

/*
 * Horizontal definition abstraction
 */
%dl--horizontal,
.dl--horizontal {
  @extend .u-cf;
  dt {
    float: $start;
    width: 19%;
    overflow: hidden;
    clear: $start;
    text-align: $end;
    @extend %u-textBreak;
  }
  dd {
    margin-#{$start}: 21%;
  }
}
