/*
Rulers

Styleguide 3.10
*/

/*
The default horizontal ruler

Markup:
<hr>

Styleguide 3.10.1
*/
%hr,
hr {
	/**
	* Address differences between Firefox and other browsers.
	*/
	-moz-box-sizing: content-box;
	box-sizing: content-box;

	display: block;
	height: 0;
	border: 0;
	border-top: 1px $basic-border-style $basic-border-color;
	padding: 0;
	@extend %u-m0;
	@extend %u-mb;
}
