/*
Typographic elements

Basic styling for all typographic related elements.

Styleguide 3.2
*/


/*
Base paragraph

Markup:
<p>I am an paragraph.</p>

Styleguide 3.2.1
*/
p {
	@extend %u-m0;
	@extend %u-mb;
}

/*
Bold and strong elements

Markup:
<b>This text should be displayed in a bolder font-weight than the standard one.</b>

Styleguide 3.2.2
*/
b,
strong {
	font-weight: $bold; /* Addresses style set to `bolder` in FF3+, S4/5, Chrome. */
}

/*
Small text emphasis

Markup:
<small>This text should be smaller than the standard one.</small>

Styleguide 3.2.3
*/
small { font-size: 80%; }

/*
Abbreviation element

Markup:
<abbr title="The title of the abbreviation">This is an abbreviation.</abbr>

Styleguide 3.2.4
*/
abbr[title] { /* Addresses styling not present in IE7/8/9, S5, Chrome. */
	border-bottom: 1px dotted;
	cursor: help;
}

/*
Marked text emphasis element

Markup:
<mark>This text should be displayed in a special manner.</mark>

Styleguide 3.2.5
*/
mark { /* Addresses styling not present in IE6/7/8/9. */
	background: map-get($brand-colors, primary);
	color: color-adjust(map-get($brand-colors, primary), 100%);
}

/*
Definition element

Markup:
<dfn>This text represents the defining instance of a term.</dfn>

Styleguide 3.2.6
*/
dfn {
	font-style: italic; /* Addresses styling not present in S5, Chrome. */
}

/*
Subscript Elements

Markup:
Regular text - <sup>this will be displayed higher and smaller than the main span of text.</sup><br>
Regular text - <sub>this will be displayed lower and smaller than the main span of text.</sub>

Styleguide 3.2.7
*/
sub,
sup { /* Prevents `sub` and `sup` affecting `line-height` in all browsers. gist.github.com/413930 */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/*
Text-Selection
*/
::-moz-selection,
::selection {
	background: map-get($brand-colors, primary);
	color: color-adjust(map-get($brand-colors, primary), 100%);
	text-shadow: none;
}
